.admin-table {
  width: 100%;
  border: 1px solid gray;
  text-align: center;
}

.admin-table tr, th, td {
  border: 1px solid gray;
}

.table--center {
  text-align: center;
}

.btn--color-white {
  color: white;
}

.btn--hidden {
  display: none;
}

.select {
  border: 1px solid red;
  padding: 5px;
}
